name: Update SRCINFO

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main
    paths:
      - '**/PKGBUILD'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      pkgbuilds: ${{ steps.matrix.outputs.pkgbuilds }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Find updated packages and construct matrix
        id: matrix
        run: |
          #!/usr/bin/env bash
          set -euxo pipefail

          dirs=$(git diff --name-only origin/main origin/${GITHUB_HEAD_REF} "*PKGBUILD" | xargs dirname)
          # Convert dirs that have been changed to a JSON array
          echo "pkgbuilds=$(printf '["%s"]' "$(echo "$dirs" | sed ':a;N;$!ba;s/\n/","/g')")" >> $GITHUB_OUTPUT

  update:
    runs-on: ubuntu-latest
    needs: [ setup ]
    strategy:
      max-parallel: 1 # Hopefully we can remove this in the future
      matrix:
        pkgbuild: ${{fromJSON(needs.setup.outputs.pkgbuilds)}}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Validate packages
        if: ${{ matrix.pkgbuild != '' }}
        uses: ./.github/actions/aur
        with:
          action: 'updpkgsums'
          pkgname: ${{ matrix.pkgbuild }}

      - name: Commit
        if: ${{ matrix.pkgbuild != '' }}
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          file_pattern: '*/PKGBUILD */.SRCINFO'
